.grid-wrapper{
    max-width: 500px;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    height: 500px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
                                                               
}

.turn-highlight{
    color: white;
}

.reset{
    padding: 1rem;
    color: black;
    font-size: medium;
    font-weight: 600;
    background-color: var(--resetGreen);
    border-radius: 10%;
    border: none;
    width: 100%;

}